<!DOCTYPE html>
<html>
    <head>
        <title>Index by MSHUKAS</title>
    
    <style type="text/css">
        h1{
            background-color:darkslategray;
            color:moccasin;
            font-family:Arial;
            text-align: center;
        }

        h3{
            column-rule-color: rosybrown;
            font-family: cursive
        }
    </style>
    </head>
    <body>
        <h1> The Index page </h1>
        <br></br>
        <br></br>
        <h3>Todo list</h3>
        <ul>        
            <li><a href="/todo/create"> Create something!</a></li>
            <li><a href="/todo/delete"> <del><b>Destroy</b></del> what you've created</a></li>    
            <li><a href="./edit"><ins>Fix</ins> it!</a></li>
        <ul>
    </body>
</html>